/*.pptx
/Carbon Colors.txt
/Clean Code 01.pdf
/Clean Code template.pptx
/clean_code_test/*
/کد تمیز - فصل 1.docx
/کد تمیز - فصل 1.pdf
/کد تمیز - فصل 2.docx
/کد تمیز - فصل 2.pdf
/کد تمیز - فصل 3.docx
/کد تمیز - فصل 3.pdf
/Chapter09
/Chapter09/*
/CleanCodeRefactoring/CleanCodeRefactoring/
