/Clean Code - Chapter 01.pptx
/Clean Code - Chapter 02.pptx
/Clean Code - Chapter 03.pptx
/Clean Code - Chapter 04.pptx
/Clean Code - Chapter 05.pptx
/Clean Code - Chapter 06.pptx
/Carbon Colors.txt
/Clean Code 01.pdf
/Clean Code template.pptx
/clean_code_test/.idea/.gitignore
/clean_code_test/.idea/compiler.xml
/clean_code_test/.idea/encodings.xml
/clean_code_test/.idea/jarRepositories.xml
/clean_code_test/.idea/misc.xml
/clean_code_test/pom.xml
/clean_code_test/src/main/java/org/example/Chapter02.java
/clean_code_test/src/main/java/org/example/Chapter03.java
/clean_code_test/src/main/java/org/example/Chapter04.java
/clean_code_test/src/main/java/org/example/Chapter05.java
/clean_code_test/src/main/java/org/example/Chapter06.java
/کد تمیز - فصل 1.docx
/کد تمیز - فصل 1.pdf
/کد تمیز - فصل 2.docx
/کد تمیز - فصل 2.pdf
/کد تمیز - فصل 3.docx
/کد تمیز - فصل 3.pdf
